@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Lato');
$bg: #FFF;
$fg: #000;
// $font-title: "Fira Sans";
// $font-text: "Lato";
$font-text: "Fira Sans";
$font-title: "Lato";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
}

body {
    background-color: $bg;
    color: $fg;
}

h3 {
    font-size: 22px;
    margin-bottom: 0;
}

hr {
    border-color: rgba($fg, 1);
    border-bottom: 1px;
    margin: 15px -15px 25px -15px;
}

h4 {
    margin-top: 15px;
    border-left: 4px solid $fg;
    padding: 0 0 0 15px;
    line-height: 100%;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: lighten($fg, 80%);

    &:hover {
        color: inherit;
        text-decoration-color: $fg;
    }
}

.section {
    page-break-inside: avoid;
}

.padded {
    margin: 0 30px
}

@media print {
    a {
        text-decoration: none !important;
    }

    .noprint {
        display: none;
    }

    .container {
        display: table;
    }
}

.stack {
    padding-left: 0;

    li {
        display: inline;
        white-space: nowrap;
        margin-right: 4px;
    }

    li:after {
        content: ",  "
    }

    li:last-child:after {
        content: ""
    }


}

.spaced {
    padding-left: 15px;
}


#header {
    position: running(pageHeader);
}

@page {
    size: A4 portrait;

    @top-center {
        content: element(pageHeader);
    }
}


@media screen {
    .noscreen {
        display: none;
    }
}

#bonus {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px
}